<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>
    <ol>
      <li>Para comenzar la competencia, presiona el botón "Jugar".</li>
      <li>Una vez comenzado el juego, detén tu moneda, presionando:</li>
      <ul>
         <li>Jugador 1 / tecla A.</li>
         <li>Jugador 2 / tecla B.</li>
      </ul>
    </ol>
    <button id="start_btn">Jugar</button><br><br>
    <div class="show_box">
       <div id="show_counter"></div>
       <div id="show_winner"></div>
    </div>
    <table class="table">
      <tr id="Player1">
        <td id="player1"><strong>Jugador 1</strong></td>
        <td class="active" id="0"></td>
        <%79.times do |num|%>
        <td id="<%=num+1%>"></td>
        <%end%>
         <td id"80" class="end"></td>
         <%20.times do |num|%>
        <td id="<%=num+81%>"></td>
        <%end%>
      </tr>

      <!-- <tr id="Player2">
        <td id="player2"><strong>Jugador 2</strong></td>
        <td class="active"></td>
        <td></td>
      </tr> -->
</table>
