<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>
<p>Escriban los nombres de los jugadores:</p>

<form id="login" action="/login" method="post">
  Jugador 1:<input type="text" name="player1">
  <br><br>
  Jugador 2:<input type="text" name="player2">
  <br><br>
  <input class="boton" type="submit" value="¡Empecemos!"> 
</form>
<div id="messages"></div>
<div id="game"></div>
    
